
    .swiper-pagination {
        text-align: left;
    }

    .swiper-pagination-bullet {
        text-align: left;

        font-size: 12px;
        color: #000;
        opacity: 1;
        background: rgba(0, 0, 0, 0.45);
    }

    .swiper-pagination-bullet-active {
        color: #fff;
        background: white;
    }



