
@import '~swiper/swiper-bundle.css';
ion-header{
  height: 48px;
  ion-toolbar {
    height: 48px;
    .header-title {
      font-size: 1.5em;
      padding-left: 22px;
    }
  }
}

html,
body {
  position: relative;
  height: 100%;
}

body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}
